#decryption {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    margin: 20px;
}

#decryption input
{
    display: block;
    margin: 5px;
    padding: 2px;
    display: block;
    border: 2px solid black;
    background-color: white;  
    border-radius: 6px;
}
#decryption button 
{
    margin: 5px;
    padding: 2px;
    display: block;
    border: 2px solid black;
    background-color: white;  
    border-radius: 6px;
}