



:root {
  /* CSS HEX */
  --light-yellow: #f8ffe5ff;
  --emerald: #06d6a0ff;
  --pacific-cyan: #1b9aaaff;
  --bubblegum-pink: #ef476fff;
  --amber-gold: #ffc43dff;
  font-family: Arial, sans-serif;
  /* Disable iOS text auto-scaling */
  -webkit-text-size-adjust: 100%;

  /* Remove tap highlight */
  -webkit-tap-highlight-color: transparent;

  /* Use your own font everywhere */
  font-family: sans-serif;

  /* Optional color scheme */
  color-scheme: light;
  background: linear-gradient(45deg,rgba(20, 20, 20, 1) 0%, var(--emerald) 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /* Remove Safari form control styling */
  -webkit-appearance: none;
  appearance: none;

  /* Inherit fonts/colors */
  font: inherit;
  color: inherit;
}


input
{
    display: block;
    margin: 5px;
    padding: 5px;
    display: block;
    border: 1px solid white;
    background-color: #181818;  
    border-radius: 8px;
    color: white;
}
button
{
    display: block;
    margin: 5px;
    padding: 5px;
    display: block;
    border: 1px solid white;
    background-color: #181818;  
    border-radius: 8px;
    color: white;
}
button:hover
{
  color: #181818;
  background-color: white;
}

textarea
{
    display: block;
    margin: 5px;
    padding: 5px;
    display: block;
    border: 1px solid white;
    background-color: #181818;  
    border-radius: 8px;
    color: white;
}