:root {
  font-family: Arial, sans-serif;
  /* Disable iOS text auto-scaling */
  -webkit-text-size-adjust: 100%;

  /* Remove tap highlight */
  -webkit-tap-highlight-color: transparent;

  /* Use your own font everywhere */
  font-family: sans-serif;

  /* Optional color scheme */
  color-scheme: light;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /* Remove Safari form control styling */
  -webkit-appearance: none;
  appearance: none;

  /* Inherit fonts/colors */
  font: inherit;
  color: inherit;
}


input
{
    display: block;
    margin: 5px;
    padding: 5px;
    display: block;
    border: 1px solid black;
    background-color: white;  
    border-radius: 8px;
}
button
{
    display: block;
    margin: 5px;
    padding: 5px;
    display: block;
    border: 1px solid black;
    background-color: white;  
    border-radius: 8px;
    color: black;
}
button:hover
{
  color: white;
  background-color: black;
}